.main {
	background-color: #eeeeee;
	display: grid;
	grid-template-areas: "showcase" "footer";
	grid-template-rows: 1fr 60px;
	grid-template-columns: 1fr;
	height: 100vh;

	.showcase {
		grid-area: showcase;
		padding: 40px 0;
		background-color: #eeeeee;
		color: #333;

		.recipesTable {
			display: grid;
			gap: 4em;
			grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));

			.recipe {
				align-self: center;
				justify-self: center;
				margin: 15px;
				width: fit-content;
				height: 200px;
				width: fit-content;
				background-color: white;
				box-shadow: 0 0 5px #c2c2c2;
				border-radius: 3px;

				.image {
					margin-top: -1px;
					border-bottom: 1px solid #c2c2c2;
					height: 150px;
					width: auto;
					cursor: pointer;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}

				.field {
					display: flex;
					height: 51px;
					margin-top: -7px;

					.fa-user {
						padding: 7px;
					}

					.nick {
						margin-top: 3px;
						font-size: 16px;
						font-weight: bolder;
					}

					.description {
						margin-top: 27px;
						margin-left: -58px;
						font-size: 14px;
					}
				}
			}

			.recipe:hover {
				box-shadow: 0 0 10px #7a7a7a;
			}
		}
	}

	footer {
		grid-area: footer;
		background-color: white;

		.page {
			color: rgb(7, 7, 63);
			margin: 0 5px;
			padding: 10px;
			cursor: pointer;
		}

		.page:hover {
			color: rgb(53, 38, 255);
		}
	}

	@media only screen and (min-width: 1880px) {
		.showcase {
			.recipesTable {
				grid-template-columns: repeat(5, minmax(267px, 1fr));
				margin: 0 100px;
				gap: 4em;
			}
		}
	}

	@media only screen and (max-width: 1880px) {
		.showcase {
			.recipesTable {
				margin: 0 50px;
				gap: 4em;
			}
		}
	}

	@media only screen and (max-width: 1080px) {
		.showcase {
			.recipesTable {
				margin: 0 50px;
				gap: 4em;
			}
		}
	}

	@media only screen and (max-width: 860px) {
		.showcase {
			.recipesTable {
				margin: 0 50px;
				gap: 4em;
			}
		}
	}

	@media only screen and (max-width: 620px) {
		.showcase {
			.recipesTable {
				margin: 0 50px;
				gap: 4em;
			}
		}
	}
	@media only screen and (max-width: 400px) {
		.showcase {
			.recipesTable {
				margin: 0 50px;
				gap: 1em;
			}
		}
	}
}
