.navbar {
	grid-area: navbar;
	overflow: hidden;
	background-color: white;
	color: #333;
	height: 60px;

	.fa-filter {
		padding: 10px;
		margin: 0 0 0 10px;
		cursor: pointer;
	}

	.fa-filter:hover {
		margin-top: 1px;
		border-bottom: 1px solid rgb(150, 150, 150);
	}

	.image {
		cursor: pointer;
		margin-top: -5px;
		margin-right: -15px;
		width: 130px;
	}

	#searchBar {
		z-index: 0;
		height: 28px;
		outline: none;
		color: #333;
		padding: 5px;
		margin: 0 5px;
		border: none;
		border-radius: 5px;
		box-shadow: 0 0 5px grey;

		#search {
			height: 28px;
			position: relative;
			background-color: transparent;
			outline: none;
			color: #333;
			padding: 5px;
			border-radius: 5px;
			border: none;
			top: -5px;
			left: -5px;
		}

		.fa-search {
			float: right;
			font-size: 20px;
		}
	}

	#searchBar:hover {
		box-shadow: 0 0 5px black;
	}

	.fa-plus {
		margin-right: 7px;
		margin-left: -9px;
	}

	button {
		min-width: fit-content;
		background-color: rgb(209, 49, 49);
		outline: none;
		color: whitesmoke;
		padding: 6px 20px;
		margin: 0 5px;
		border: none;
		border-radius: 10px;
		cursor: pointer;
	}

	button:hover {
		box-shadow: 0 0 5px grey;
	}

	.main-auth {
		min-width: fit-content;

		.fa-user {
			padding: 10px;
			cursor: pointer;
		}

		.fa-user:hover {
			margin-top: 1px;
			border-bottom: 1px solid rgb(150, 150, 150);
		}

		button {
			font-size: 15px;
			border-radius: 0;
			color: #333;
			padding: 6px 5px;
			margin: 0 -1px;
			background-color: transparent;
		}

		button:hover {
			margin-top: 1px;
			box-shadow: none;
			border-bottom: 1px solid rgb(150, 150, 150);
		}

		.divider {
			width: 1px;
			height: 25px;
			background-color: #333;
		}
	}

	.container {
		.flex {
			height: 60px;
			justify-content: space-between;
		}
	}

	.menu {
		z-index: 10;
		visibility: hidden;
		position: fixed;
		height: 100vh;
		background-color: #eeeeee;
		box-shadow: 0 0 5px grey;
		opacity: 0;
		transition: visibility 0.3s linear, opacity 0.3s linear;

		.flex {
			justify-content: flex-start;
		}

		.bar {
			height: 60px;
			background-color: #eeeeee;
			box-shadow: 0 0 5px grey;

			.fa-times {
				font-size: 20px;
				padding: 10px;
				margin: -4px 3px 0 10px;
				cursor: pointer;
			}

			.fa-times:hover {
				margin-top: -3px;
				border-bottom: 1px solid rgb(150, 150, 150);
			}
		}

		.sortBy {
			margin: 0px auto;
			width: 177px;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.fa-ellipsis-h {
				margin-top: 11px;
				margin-left: -8px;
			}

			.mainMenuElement {
				p {
					padding: 0 10px;
					font-size: 18px;
					font-weight: 600;
					user-select: none;
				}
			}

			.menuElement {
				width: 177px;
				padding: 5px 10px;

				.subMenuElement {
					width: fit-content;
					display: none;
					padding: 2px 0;
					margin-left: 5px;

					p {
						font-size: 16px;
						font-weight: lighter;
					}
				}

				p {
					user-select: none;
					font-size: 18px;
					font-weight: 500;
					user-select: none;
					cursor: pointer;
					width: fit-content;
					padding: 3px 10px;
				}

				p:hover {
					color: rgb(79, 68, 182);
				}
			}
		}
	}
}

@media only screen and (min-width: 1880px) {
	.navbar {
		.container {
			margin: 0 auto;
			padding: 0 40;
		}

		.menu {
			width: 24vw;

			.sortBy {
				width: 85%;

				.fa-ellipsis-h {
					margin-top: 18.5px;
				}

				.mainMenuElement {
					p {
						font-size: 30px;
					}
				}

				.menuElement {
					width: 100%;
					p {
						font-size: 29px;
					}

					.subMenuElement {
						margin-left: 35px;
						p {
							font-size: 28px;
						}
					}
				}
			}
		}
	}

	#searchBar {
		width: 450px;
	}

	#search {
		width: 420px;
	}

	.image {
		width: 130px;
	}

	.hide {
		display: block;
		width: auto;
	}
}

@media only screen and (max-width: 1880px) {
	.navbar {
		.container {
			margin: 0 auto;
			padding: 0 40;
		}

		.menu {
			width: 19vw;

			.sortBy {
				width: 95%;

				.fa-ellipsis-h {
					margin-top: 13px;
				}

				.mainMenuElement {
					p {
						font-size: 22px;
					}
				}

				.menuElement {
					width: 100%;
					p {
						font-size: 21px;
					}

					.subMenuElement {
						margin-left: 35px;
						p {
							font-size: 20px;
						}
					}
				}
			}
		}
	}

	#searchBar {
		width: 450px;
	}

	#search {
		width: 420px;
	}

	.image {
		width: 130px;
	}

	.hide {
		display: block;
		width: auto;
	}
}

@media only screen and (max-width: 1080px) {
	.navbar {
		.container {
			background-color: white;
			margin: 0 auto;
			padding: 0 40;
		}

		.menu {
			width: 24vw;

			.sortBy {
				width: 190px;

				.fa-ellipsis-h {
					margin-top: 10px;
				}

				.mainMenuElement {
					p {
						font-size: 18px;
					}
				}

				.menuElement {
					width: 100%;
					p {
						font-size: 17px;
					}

					.subMenuElement {
						margin-left: 35px;
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	#searchBar {
		min-width: 200px;
		width: auto;
	}

	#search {
		width: 200px;
	}

	.image {
		width: 130px;
	}

	.hide {
		display: block;
		width: auto;
	}
}

@media only screen and (max-width: 860px) {
	.navbar {
		.container {
			background-color: white;
			margin: 0 auto;
			padding: 0 10px;
		}

		.menu {
			width: 28vw;
		}
	}

	#searchBar {
		min-width: 200px;
		width: auto;
	}

	#search {
		width: 200px;
	}

	.image {
		width: 130px;
	}

	.hide {
		display: none;
		width: 0;
	}
}

@media only screen and (max-width: 620px) {
	.navbar {
		.container {
			margin: 0 auto;
			padding: 0 10px;
		}

		.menu {
			width: 100vw;

			.sortBy {
				width: 100vw;

				.fa-ellipsis-h {
					margin-top: 18.5px;
				}

				.mainMenuElement {
					p {
						font-size: 30px;
					}
				}

				.menuElement {
					width: 100vw;
					p {
						font-size: 29px;
					}

					.subMenuElement {
						p {
							font-size: 28px;
						}
					}
				}
			}
		}

		.image {
			margin-top: -3px;
			width: 90px;
		}
	}

	#searchBar {
		min-width: 90px;
		width: auto;
	}

	#search {
		width: 60px;
	}

	.hide {
		display: none;
		width: 0;
	}
}
@media only screen and (max-width: 400px) {
	.navbar {
		.container {
			margin: 0 auto;
			padding: 0 10px;
		}

		.menu {
			width: 100vw;

			.sortBy {
				width: 100vw;

				.fa-ellipsis-h {
					margin-top: 18.5px;
				}

				.mainMenuElement {
					p {
						font-size: 30px;
					}
				}

				.menuElement {
					width: 100vw;
					p {
						font-size: 30px;
					}

					.subMenuElement {
						p {
							font-size: 28px;
						}
					}
				}
			}
		}

		.image {
			display: none;
			width: 0px;
		}

		.first {
			display: block;
			width: 120px;
		}
	}

	#searchBar {
		min-width: 90px;
		width: auto;
	}

	#search {
		width: 60px;
	}

	.hide {
		display: none;
		width: 0;
	}
}
