.auth {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.auth_container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth_container h1 {
    text-align: center;
    font-size: 45px;
}
.auth_container img {
    height: 70px;
    margin-top: 20px;
}
.auth_container_topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}
.auth_container_topbar .item {
    width: 50%;
    border-bottom: 4px solid #eee;
    color: #aaa;
    padding: 10px;
}
.auth_container_topbar .active-item {
    width: 50%;
    color: #870006;
    border-bottom: 4px solid #870006;
    background-color: #F8EDC2;
    padding: 10px;
}
.auth_container_topbar .item p,
.auth_container_topbar .active-item p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.auth_container_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.auth_container_body .input {
    width: 100%;
    position: relative;
}
.auth_container_body .input::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    right: 20px;
    background: url('../assets/auth/eye.svg');
    background-size: contain;
    cursor: pointer;
    top: calc(50% - 5px);
}
.auth_container_body input {
    width: 100%;
    margin-top: 30px;
    padding: 5px 10px;
    border: none;
    border-bottom: 3px solid #eee;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    line-height: 1.2;
    transition: border-bottom 0.4s linear;
}

.auth_container_body input:focus {
    border-bottom: 3px solid #870006;
}

.auth_container_body .submit {
    width: 100%;
    margin-top: 30px;
    background-color: #aa484f;
    border: none;
    border-radius: 3px;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color, border-radius 0.2s linear;
}
.auth_container_body .submit:hover {
    background-color: #870006;
    border-radius: 20px;
}