<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="text/html" charset="UTF-8">
    <title>TASTY</title>
    <!-- BUNDLE CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/wrapper.css">
</head>
<body>
<noscript> Ви маєте підключити JavaScript для запуску цього сайту </noscript>
<div class="main">
    <div class="header">
    </div>
</div>
</body>
</html>